# Default ignored files
/../../../../02. kotlin\Enum/Enum/.idea/shelf/
/../../../../02. kotlin\Enum/Enum/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../02. kotlin\Enum/Enum/.idea/httpRequests/
